body {
	background: #fafafa;
}
body, button, input {
	font-family: 'Mali', cursive, sans-serif;
	font-size: 13px;
}

a {
	color: hsl(200, 55%, 45%);
	text-decoration: none;
}
a:visited {
	color: hsl(300, 55%, 45%);
}
a:hover, a:focus {
	text-decoration: underline;
}
a:active {
	color: hsl(0, 55%, 45%);
}

button, .button {
	border: 0;
	cursor: pointer;
	padding: 4px 12px;
	background: hsl(100, 75%, 65%);
	border: 4px solid hsl(100, 75%, 65%);
	color: #fff !important;
	text-decoration: none !important;
	display: inline-block;
	font-size: 15px;
	outline: none;
}
button:active, .button:active, button:focus, .button:focus {
	border: 4px solid hsl(100, 75%, 55%);
}
big {
	font-weight: bold;
	font-size: 14px;
}
main, form {
	padding: 16px;
	padding-top: 64px;
	text-align: center;
}

input {
	border: 0;
	border-bottom: 2px solid hsl(0, 0%, 65%);
	background: transparent;
	padding: 8px;
	outline: none;
}

input:invalid {
	box-shadow: none;
	border-bottom: 2px solid hsl(0, 75%, 65%)
}

input:focus {
	border-bottom: 2px solid hsl(200, 75%, 65%);
}

.blue {
	color: hsl(200, 75%, 65%);
}
